.logo img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.logo img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../wallpaper/wallpaper3.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;

}
img {
		border-radius: 14px;
		}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}


.logo img{
	float: left;
	width: 70px;
	height: auto;
	margin-top: 10px;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}

.title h1{
	color: #fff;
	font-size: 70px;
}

.subtitle1 h1{
	position: absolute;
	color: #fff;
	font-size: 25px;
	top: 40%;
	left: 20%;
}

.subtitle2 h1{
	position: absolute;
	color: #fff;
	font-size: 25px;
	top: 40%;
	left: 68%;
}

.image1{
	position: absolute;
	top: 75%;
	left: 25%;
	transform: translate(-50%,-50%);
}

.image2{
	position: absolute;
	top: 75%;
	left: 75%;
	transform: translate(-50%,-50%);
}

